---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";

import { icon } from "@fortawesome/fontawesome-svg-core";

import { faEarthEurope } from "@fortawesome/free-solid-svg-icons";
import {
	faMastodon,
	faGithub,
	faLinkedin,
	faRust,
} from "@fortawesome/free-brands-svg-icons";
import matrix from "../../assets/images/matrix.svg?raw";
---

<Layout title="Jonathan Dönszelmann">
	<div class="main" slot="main">
		<div class="title">
			<h3>You have reached the homepage of</h3>
			<h1>Jonathan Dönszelmann</h1>
		</div>
		<div class="websites grid"></div>
		<div class="projects grid"></div>
	</div>
	<div class="socials grid" slot="socials">
		<Social link="https://fedi.xirion.net/@jonathan">
			<i set:html={icon(faMastodon).html} />
			<span>@jonathan@xirion.net</span>
		</Social>
		<Social link="https://github.com/jdonszelmann">
			<i set:html={icon(faGithub).html} />
			<span>jdonszelmann</span>
		</Social>
		<Social link="https://www.linkedin.com/in/jdonszelmann/">
			<i set:html={icon(faLinkedin).html} />
			<span>jdonszelmann</span>
		</Social>
		<Social link="https://donsz.nl">
			<i set:html={icon(faEarthEurope).html} />
			<span>https://donsz.nl</span>
		</Social>
		<Social link="">
			<i>
				<Fragment set:html={matrix} alt="matrix logo" />
			</i>
			<span>@jonathan:jdonszelmann.nl</span>
		</Social>
		<Social link="https://crates.io/users/jdonszelmann">
			<i set:html={icon(faRust).html} />
			<span>jdonszelmann</span>
		</Social>
	</div>
</Layout>

<style lang="scss">
	.main {
		display: flex;
		flex-direction: column;

		.title {
			text-align: center;
		}
	}

	.grid {
		display: grid;
		column-gap: 1em;
		row-gap: 0.5em;
		grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
	}
</style>

<style is:global>
	i {
		width: 1.33em;
		height: 1.33em;
	}
</style>
