---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";
import Card from "../components/Card.astro";

import { icon } from "@fortawesome/fontawesome-svg-core";

import {
    faEarthEurope,
    faGraduationCap,
    faBriefcase,
    faLanguage,
} from "@fortawesome/free-solid-svg-icons";
import {
    faMastodon,
    faGithub,
    faLinkedin,
    faRust,
} from "@fortawesome/free-brands-svg-icons";
import matrix from "../../assets/images/matrix.svg?raw";
---

<Layout title="Jonathan Dönszelmann">
    <div class="main" slot="main">
        <div class="title">
            <h3>You have reached the homepage of</h3>
            <h1>Jonathan Dönszelmann</h1>
        </div>
        <div class="websites grid"></div>
        <div class="projects grid"></div>
    </div>
    <div class="socials grid" slot="socials">
        <Social link="https://fedi.xirion.net/@jonathan">
            <i set:html={icon(faMastodon).html} />
            <span>@jonathan@xirion.net</span>
        </Social>
        <Social link="https://github.com/jdonszelmann">
            <i set:html={icon(faGithub).html} />
            <span>jdonszelmann</span>
        </Social>
        <Social link="https://www.linkedin.com/in/jdonszelmann/">
            <i set:html={icon(faLinkedin).html} />
            <span>jdonszelmann</span>
        </Social>
        <Social link="https://donsz.nl">
            <i set:html={icon(faEarthEurope).html} />
            <span>https://donsz.nl</span>
        </Social>
        <Social link="https://matrix.to/#/@jonathan:jdonszelmann.nl">
            <i>
                <Fragment set:html={matrix} alt="matrix logo" />
            </i>
            <span>@jonathan:jdonszelmann.nl</span>
        </Social>
        <Social link="https://crates.io/users/jdonszelmann">
            <i set:html={icon(faRust).html} />
            <span>jdonszelmann</span>
        </Social>
    </div>

    <div class="situation grid" slot="situation">
        <Card>
            <i slot="icon" set:html={icon(faEarthEurope).html} />
            <div slot="description">
                Delft, The Netherlands
                <br />
                He/Him
                <div class="lang">
                    <i set:html={icon(faLanguage).html} />
                    <span>rw: Dutch, English</span>
                    <span>r: French</span>
                </div>
            </div>
        </Card>
        <Card>
            <i slot="icon" set:html={icon(faBriefcase).html} />
            <div slot="description">
                Lecturer @ TU Delft
                <ul>
                    <li>
                        <a
                            href="https://cese.ewi.tudelft.nl/software-fundamentals"
                            >Software Fundamentals</a
                        >
                    </li>
                    <li>
                        <a href="https://cese.ewi.tudelft.nl/software-systems"
                            >Software Systems</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://cese.ewi.tudelft.nl/embedded-systems-lab"
                            >Embedded Systems Lab</a
                        >
                    </li>
                </ul>
            </div>
        </Card>
        <Card>
            <i slot="icon" set:html={icon(faGraduationCap).html} />
            <div slot="description">
                <ul>
                    <li>BSc Computer Science & Engineering</li>
                    <li>MSc Embedded Systems</li>
                    <li>Dutch Teaching Qualification</li>
                </ul>
                @ TU Delft
            </div>
        </Card>
    </div>

    <a class="blog" slot="blog" href="/blog"> Blog </a>
</Layout>

<style lang="scss">
    .blog {
        background: black;
        text-align: center;
        font-size: 3em;
        color: white;
        display: block;
        text-decoration: none;
    }
    .main {
        display: flex;
        flex-direction: column;

        .title {
            text-align: center;
        }
    }

    .lang {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        gap: 0.2em;

        i {
            grid-row: 1 / span 2;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 2.66em;
            width: 2.66em;
        }
    }

    .grid {
        display: grid;
        column-gap: 1em;
        row-gap: 0.5em;
        grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    }

    ul {
        padding-left: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    a {
        color: unset;
    }
</style>
