---
interface Props {
    name: string;
}

const { name } = Astro.props;

let org, repo, number, rest, tmp;

tmp = name.split("/");
switch (tmp.length) {
    case 1:
        org = "rust-lang";
        rest = tmp[0];
        break;
    case 2:
        org = tmp[0];
        rest = tmp[1];
        break;
    default:
        throw Error();
}

tmp = rest.split("#");
switch (tmp.length) {
    case 1:
        repo = "rust";
        number = tmp[0];
        break;
    case 2:
        repo = tmp[0];
        number = tmp[1];
        break;
    default:
        throw Error();
}
---

<a class:list={["pr"]} href=`https://github.com/${org}/${repo}/pull/${number}`>
    <svg
        aria-hidden="true"
        height="16"
        width="16"
        version="1.1"
        viewBox="0 0 16 16"
        fill="currentColor"
        ><path
            d="M1.5 3.25a2.25 2.25 0 1 1 3 2.122v5.256a2.251 2.251 0 1 1-1.5 0V5.372A2.25 2.25 0 0 1 1.5 3.25Zm5.677-.177L9.573.677A.25.25 0 0 1 10 .854V2.5h1A2.5 2.5 0 0 1 13.5 5v5.628a2.251 2.251 0 1 1-1.5 0V5a1 1 0 0 0-1-1h-1v1.646a.25.25 0 0 1-.427.177L7.177 3.427a.25.25 0 0 1 0-.354ZM3.75 2.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5Zm0 9.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5Zm8.25.75a.75.75 0 1 0 1.5 0 .75.75 0 0 0-1.5 0Z"
        ></path></svg
    >
    {org}/{repo}#{number}
</a>

<style lang="scss">
    a.pr {
        display: inline-flex;
        align-items: center;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        padding: 0 0.3em;
        border-radius: 0.3em;
        text-decoration: none;

        vertical-align: middle;

        &.large {
            padding: 0.3em;
            font-size: unset;
            margin-right: 1em;
        }
    }

    svg {
        display: inline-block;
        height: 1em;
        border-radius: 1em;
        margin-right: 0.3em;
    }
</style>
