---
import Gh from "./GitHub.astro";

export interface Props {
    post: {
        frontmatter: {
            title: string;
            authors: string[];
            reviewers: string[];
            description: string;
        };
        url: string;
    };
}

const {
    post: {
        frontmatter: { authors, description, title },
        url,
    },
}: Props = Astro.props;
---

<div class="preview">
    <a class="click-area" href={url}>
        <h1 class="title">{title}</h1>
        <div class="first-paragraph" set:html={description} />
    </a>

    <div class="author-area">
        {authors.length > 1 ? "Authors:" : "Author:"}
        <div class="authors">
            {authors.map((author: any) => <Gh name={author} large={true} />)}
        </div>
    </div>
</div>

<style>
    .click-area {
        display: contents;
        color: black;
        text-decoration: none;
    }

    .preview {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: block;
        padding: 1em;
    }

    .author-area {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    div.authors {
        font-size: 10pt;
    }
</style>
