---
import Gh from "./GithubUser.astro";
import Tag from "./Tag.astro";
import { marked } from "marked";

export interface Props {
    post: {
        data: {
            title: string;
            authors: string[];
            reviewers: string[];
            description: string;
            pubDate: Date;
        };
        slug: string;
    };
    draft?: boolean;
}

const {
    post: {
        data: { authors, tags, description, title, pubDate },
        slug,
    },
    draft = false,
}: Props = Astro.props;
---

<div class:list={["preview", draft ? "draft" : null]}>
    <a class="click-area" href=`/blog/${slug}`>
        <h1 class="title">
            {draft && <span>Draft:</span>}
            {title}
        </h1>
        <div
            class="first-paragraph"
            set:html={marked.parse(description || "")}
        />
    </a>

    <div class="author-area">
        {authors.length > 1 ? "Authors:" : "Author:"}
        <div class="authors">
            {authors.map((author: any) => <Gh name={author} large={true} />)}
        </div>

        Published: {pubDate.toISOString().slice(0, 10)}<br />
    </div>
    <div class="tags">
        {tags.map((tag: any) => <Tag name={tag} />)}
    </div>
</div>

<style>
    .click-area {
        display: contents;
        color: black;
        text-decoration: none;
    }

    .preview {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: block;
        padding: 1em;
    }

    .author-area {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    .draft {
        background:;
        background: repeating-linear-gradient(
            135deg,
            color-mix(in hsl, #f5f5f5, white 0%),
            color-mix(in hsl, #f5f5f5, white 0%) 20px,
            color-mix(in hsl, #ffadb0, white 30%) 20px,
            color-mix(in hsl, #ffadb0, white 30%) 40px
        );
    }

    .tags {
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    div.authors {
        font-size: 10pt;
    }

    a {
        font-family: "Fira Sans";
        font-size: unset;
        font-weight: normal;
    }
</style>
